{% extends 'base.html.twig' %}

{% block title %}CartItem index{% endblock %}

{% block body %}
    <h1>CartItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.id }}</td>
                <td>{{ cart_item.offer.name }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>
                    <a href="{{ path('cart_edit', {'id': cart_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cart_new') }}">Create new</a>
{% endblock %}
