{% extends 'base.html.twig' %}

{% block title %}Спасибо за заказ{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="flex justify-center m-6">
            <h1 class="font-sans text-4xl">Спасибо за заказ!</h1>
        </div>
        <div class="grid grid-cols-3 gap-2 mt-14">
            <div class="col-span-2 ">
                <table class="mx-5 border-separate table-auto font-sans text-2xl tracking-wide text-center">
                    <thead>
                    <th class="font-medium border-b border-black">Наименование товара</th>
                    <th class="font-medium border-b border-black">Стоимость</th>
                    <th class="font-medium border-b border-black">Количество</th>
                    </thead>
                    <tbody>
                {% for item in order.items %}
                    <tr>
                        <td class="px-3">{{ item.offer.name }}</td>
                        <td class="px-3">{{ item.initialPrice }} руб.</td>
                        <td class="px-3">{{ item.quantity }}</td>
                    </tr>
                {% else %}
                    <h3 class="flex justify-center font-sans text-4xl">Заказ пуст</h3>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="-mx-4 border-solid border-2 border-black rounded-xl self-start">
                <div class="flex justify-center">
                    <h5 class="m-3 font-sans text-4xl">Информация о заказе</h5>
                </div>
                <div class="flex justify-between">
                    <p class="mx-4 font-sans text-2xl">Номер заказа</p>
                    <p class="mx-4 font-sans text-2xl">{{ order.id }}</p>
                </div>
                <div class="flex justify-between">
                    <p class="mx-4 font-sans text-2xl">Стоимость заказа</p>
                    <p class="mx-4 font-sans text-2xl">{{ order.totalSumm }} руб.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}