{% extends 'base.html.twig' %}

{% block title %}Личный аккаунт{% endblock %}

{% block body %}
    <div class="container mx-auto font-sans not-italic font-normal px-4 text-lg text-base text-black">
        <div class="flex justify-center p-6 pb-12 text-4xl">My profile</div>
        <div class="flex justify-center">
            <ul class="flex justify-center flex-col text-left text-2xl">
                <li>{{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</li>
                <li>{{ user.email }}</li>
                <li>{{ user.phones[0].number }}</li>
                <li>{{ user.sex }}</li>
                <li>{{ user.address.text }}</li>
            </ul>
        </div>
    </div>
    <div class="flex justify-center px-8 py-12">
        <div class="flex justify-between">
            <button type="submit" class="transition duration-500 ease-in-out bg-black rounded-md m-6 transform hover:scale-110">
                <a class="text-white px-8 py-2 rounded text-2xl w-auto float-right text-center align-middle" href="{{ path('personal_account_edit') }}">Изменить</a>
            </button>
        </div>
        <div class="flex justify-between">
            <button type="submit" class="transition duration-500 ease-in-out bg-black rounded-md m-6 transform hover:scale-110">
                <a class="text-white px-8 py-2 rounded text-2xl w-auto float-right text-center align-middle" href="{{ path('personal_account_orders_history', {'page': 1} ) }}">История заказов</a>
            </button>
        </div>
    </div>
{% endblock %}
