<header class="bg-black">

    <div class="w-full border-b-2">
        <div class="m-auto w-max">
            <a class="flex flex-row items-center content-center" href="{{ path('home') }}">
                <div class="h-20 flex items-center">
                    <div class="mr-4">
                        <span class="iconify object-contain h-8 w-8" data-inline="false" data-icon="bi:shop" style="font-size: 200px; color: #FFFFFF"></span>
                    </div>
                    <div class="text-white text-5xl">
                        Интернет-магазин одежды
                    </div>
                </div>
            </a>
        </div>

        <div class="absolute right-0">
            <div class="relative bottom-14">
                <ul class="flex flex-row text-lg mr-10 text-white">
                    <li class="transform transition duration-300 hover:scale-110">
                        <a href="{{ path('app_login') }}">Вход</a>
                    </li>
                    <li class="transform transition duration-300 hover:scale-110 ml-12">
                        <a href="{{ path('app_register') }}">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="h-16 flex items-center">
            <ul class="flex flex-row justify-between ml-56 mr-56 w-full text-white">
                {% for category in categories %}
                    <div class="dropdown">
                        <button class="dropbtn text-2xl"><a href="{{ path('catalog', {parId : category[0].id, page: 1}) }}">{{ category[0].name }}</a></button>
                        <div class="dropdown-content -mx-4">
                            {% for subCategory in category[1] %}
                                <a class="text-2xl" href="{{ path('catalog', {parId : subCategory.id, page: 1}) }}">{{ subCategory.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <style>

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            margin-left: -1em;
            border-radius: 8px;
            background-color: #A9A9A9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 8px 12px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            border-radius: 8px;
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {}
    </style>
</header>