<header class="bg-black">

    <div class="flex flex-row justify-between items-center top-floor border-b-2">
        <ul class="flex flex-row justify-around text-lg w-1/5 text-white text-base">
            <li class="transform transition duration-300 hover:scale-110">
                <a href="{{ path('cart_index') }}">
                    <i class="object-contain h-6 w-6 fas fa-shopping-bag text-white>"></i>
                </a>
            </li>
            <li class="transform transition duration-300 hover:scale-110">
                <a href="{{ path('personal_account') }}">
                    <i class="object-contain h-6 w-6 fas fa-user"></i>
                </a>
            </li>
        </ul>

        <div class="flex h-20 content-center">
            <a class="flex flex-row items-center content-center" href="{{ path('home') }}">
                <div class="mr-4">
                        <span class="iconify object-contain h-8 w-8" data-inline="false" data-icon="bi:shop" style="font-size: 200px; color: #FFFFFF"></span>
                </div>
                <div class="text-white text-5xl">
                        Интернет-магазин одежды
                </div>
            </a>
        </div>

        <div class="flex flex-row justify-end text-lg w-1/5 text-white">
            <h5 class="mr-12 transform transition duration-300 hover:scale-110">
                <a href="{{ path('app_logout') }}">Выход</a>
            </h5>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="h-16 flex items-center">
            <ul class="flex flex-row justify-between ml-56 mr-56 w-full text-white">
                {% for category in categories %}
                    <li class="text-2xl">{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</header>