{% extends 'base.html.twig' %}
{% block title %}Домашняя страница{% endblock %}

{% block body %}

<body bgcolor="white">
<div class = "mt-10 mb-10 text-3xl" style="font-family:PT Sans;">
<center>
    {{mainOffer.name}}
</center>
</div>
<div class="container">
  <div class="flex ">
    <div class=" mx-14  flex rounded-3xl w-5/12 h-auto border-solid border-4 border-black">
      <img class="object-contain  object-center rounded-3xl" src=/upload/pictures/{{mainOffer.picture}}>
    </div>
    <div class="container">
      <div class="flex flex-col mr-14">

        <div class ="  container h-56   mb-4 overflow-y-auto text-lg" style="font-family:PT Sans;">
            {{mainOffer.unit}}
         </div>

        <div class="w-40 px-2 mb-4  border-4 text-3xl border-black rounded-3xl" style="font-family:PT Sans;">
          {{mainOffer.price}}
        </div>

          <div class="flex flex-row justify-between">
          {{ form_start(form) }}
          {{ form_widget(form, {'attr' : {'class':'border-4 text-2xl rounded-md border-black'}}) }}
               <button type="submit" class="transition duration-500 ease-in-out bg-black rounded-md mt-4 transform hover:scale-110">
                    <a class="text-white  py-2 rounded text-2xl w-auto float-right text-center align-middle">Add to cart</a>
                </button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
<center>
  <div class = "mt-10 mb-10 text-3xl" style="font-family:PT Sans;">
    name
  <div>
</center>
<div class="flex flex-row justify-between mx-16">
{% for paginator in paginationSimOffers %}
  <div class="flex flex-col items-center mb-7">
    <div class="relative flex rounded-3xl mb-2 w-40 h-40 border-solid border-4 border-black">  
      <img class="object-contain  object-center rounded-3xl" src=/upload/pictures/{{paginator.picture}}>
    </div>
    <div style="font-family:PT Sans;"class="h rounded-full  truncate overflow-hidden text-3xl px-2   border-4 border-black">
      {{paginator.price}}
    </div>
    <a class ="transform transition duration-300 hover:scale-110 text-xl"href="">{{paginator.name}}</a>
  </div>
{% endfor %}
</div>
<div class="mb-8">
      <nav class=" rounded-md shadow-sm " aria-label="Pagination">
      <div class="navigation">
        {{ knp_pagination_render(paginationSimOffers) }}
    </div>
      </nav>
   </div> 
</div> 
{% endblock %}
